@page
@model IndexModel
@{
    ViewData["Title"] = "Northface page";
}
<!-- <link rel="stylesheet" href="" asp-append-version="true" /> -->

<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
</style>
</head>
<body>

<div id="northface_general_body">
  <h2>Products</h2>
  
  <div id="northface_products">

  </div>
</div>

</body>
</html>