html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#Price {
  margin-top: -40px;  /* Adjust the top margin */
  margin-left: 180px; /* Adjust the left margin */
}
/* 
#itembox {
  margin-left: 170px;
} */

#size {
  margin-top: -20px; 
}

.ps {
  margin-top: -40px;  /* Adjust the top margin */
  margin-left: 180px; /* Adjust the left margin */
}

.star-rating {
  transform: translateY(-40px);
  margin-left: 180px;
  display: inline-block;
}



#star-rating span.filled {
  color: black;
}

#star span {
  margin-left: 50px;
}

.flex-container {
  display: flex;
  align-items: center; /* This will vertically center align the items */
  gap: 20px; /* Add some space between image and item box */
}

.item-image {
  width: 100px;
  height: 100px; /* Or whatever size you prefer */
  object-fit: cover; /* This will make sure the image covers the area without stretching */
}

.item-container {
  display: flex; /* Aligns children (image and text) side by side */
  align-items: center; /* Vertically centers the content */
  margin-bottom: 20px; /* Adds some space between the items */
}

.item-image {
  margin-right: 20px; /* Adds some space between the image and the text */
}

.myBtn{
  margin-right: 180px;
}

.text-content {
  flex-grow: 1; /* Takes up remaining space to ensure button is aligned to the right */
}

button {
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
}

#del {
  /* margin-left: 300px; */
  /* margin-bottom: 100px; */
  /* margin: 0;  Resetting the margin for these specific buttons */
  /* margin-right: 300px; */
  margin-left: 30px;
  margin-top: -20px;
}