@page
@model IndexModel
@{
    ViewData["Title"] = "Delivery page";
}
<link rel="stylesheet" href="css/delivery.css" asp-append-version="true" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/site.js"></script>
    <title>Shopping Page</title>
    <style>
        /* Basic styles */
    </style>
</head>
<body>

<div class="top">
   <input type="text" id="searchInput" placeholder="Search for items..." oninput="SearchCart()">
    <a href="/profile">
        <img class="profile-logo" src="profile-user.png" alt="Profile Logo">
    </a>
</div>

<div class="search-toggle-container">
    <div class="toggle-buttons">
        <button id="deliveryButton" class="active" onclick="toggleActive('deliveryButton')">Delivery</button>
        <button id="shoppingListButton" onclick="toggleActive('shoppingListButton')">In Store</button>
    </div>
    <!-- <div class="store-search">
        <input type="text" id="storeSearchInput" placeholder="Store Search" oninput="filterStores()">
        <button id="searchButton">Search</button>
    </div> -->

</div>

<div id="sort-and-filter-section">
        <label for="sortDropdown">Sort by:</label>
        <select id="sortDropdown" onchange="SortAndFilterCart()">
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="store">Store</option>
            <option value="rating">Rating</option>
            <option value="size">Size</option>
            <option value="price_low_high">Price (Low to High)</option>
            <option value="price_high_low">Price (High to Low)</option>
            <option value="size_small_large">Size (Small to Large)</option>
            <option value="size_large_small">Size (Large to Small)</option>
            <option value="rating_low_high">Rating (Low to High)</option>
            <option value="rating_high_low">Rating (High to Low)</option>
        </select>
    </div>

<div class="progress-container">
    <button id="filterButton"><img src="/filter.png" alt="Filter Icon">
        <span>Filter and Sort</span>
    </button>
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
    <div class="budget-input">
        <label for="budget">Budget:</label>
        <input type="number" id="budget" placeholder="Enter your budget">
        <button id="updateButton">Update</button>
    </div>

    <div class="store-search">
        <input type="text" id="storeSearchInput" placeholder="Store Search" oninput="filterStores()" size="60">
        <!-- <button id="searchButton">Search</button> -->
    </div>
</div>

<!-- Main Content Area -->
<div class="main-content">
    
    <!-- Cart Section -->
    <div class="cart-section" id="cart-section">
        <h2>Cart</h2>
        <div id="cart_div"></div>   
        <div class="checkout">
            <button>Checkout</button>
            <p>Total: $90</p>
        </div>
        </div>

    <!-- Shopping List Section -->
    <div id="inStoreContent" class="shopping-list" style="display: none;">
        <h2>Shopping List</h2>
        <div id="instore"></div>
        <!-- <h2>Shopping List</h2>
        <div class="store-item">
            <div>Zara</div>
            <div>
                <p>Black Shirt - $30</p>
                <p>White Shirt - $30</p>
            </div>
        </div>
        <div class="store-item">
            <div>H & M</div>
            <div>
                <p>Black Shirt - $30</p>
                <p>White Shirt - $30</p>
            </div>
        </div>
        <div class="total">Total: $50</div> -->
    </div>

    <!-- Store Section (which remains unchanged) -->
    <div class="store-section">
        <div class="store" id="store-0">
            <a href="/zara" target="_blank">
                <div class="store-logo-container">
                    <img src="/Zara_logo.png" alt="Zara Logo" class="store-logo">
                </div>
            </a>
            <div class="store-name">Zara</div>
        </div>
        <div class="store" id="store-1">
            <a href="/h&m" target="_blank">
            <div class="store-logo-container">
                <img src="/HM_logo.png" alt="H&M Logo" class="store-logo">
            </div>
            </a>
            <div class="store-name">H & M</div>
        </div>

        <div class="store" id="store-2">
            <a href="/northface" target="_blank">
            <div class="store-logo-container">
                <img src="/Northface_logo.png" alt="Northface Logo" class="store-logo">
            </div>
            </a>
            <div class="store-name">The North Face</div>
        </div>

        <div class="store" id="store-3">
            <a href="/LouisVuitton" target="_blank">
            <div class="store-logo-container">
                <img src="/LV_Logo.png" alt="LV Logo" class="store-logo">
            </div>
            </a>
            <div class="store-name">Louis Vuitton</div>
        </div>

        <div class="store" id="store-4">
            <a href="/AE" target="_blank">
            <div class="store-logo-container">
                <img src="/AE_logo.png" alt="AE Logo" class="store-logo">
            </div>
            </a>
            <div class="store-name">American Eagle</div>
        </div>

        <div class="store" id="store-5">
            <a href="/ftg" target="_blank">
            <div class="store-logo-container">
                <img src="/ftg_logo.png" alt="FTG Logo" class="store-logo">
            </div>
            </a>
            <div class="store-name">For The Geng</div>
        </div>

        <div class="store" id="store-6">
            <a href="/TH" target="_blank">
            <div class="store-logo-container">
                <img src="/TH_logo.png" alt="TH Logo" class="store-logo">
            </div>
            </a>
            <div class="store-name">Tommy Hilfiger</div>
        </div>

        <div class="store" id="store-7">
            <a href="/prada" target="_blank">
            <div class="store-logo-container">
                <img src="/Prada_logo.png" alt="Prada Logo" class="store-logo">
            </div>
            </a>
            <div class="store-name">Prada</div>
        </div>

        <div class="store" id="store-8">
            <a href="/canadagoose" target="_blank">
            <div class="store-logo-container">
                <img src="/Canada_Goose_logo.png" alt="Canada Goose Logo" class="store-logo">
            </div>
            </a>
            <div class="store-name">Canada Goose</div>
        </div>
            <div id="noResultsMessage" style="display: none;">
                No stores found for your search.
            </div>
    </div>

</div>



<!-- JavaScript to toggle between cart-section and shopping-list -->
<!-- <script>
    function toggleActive(buttonId) {
        const inStoreContent = document.getElementById('inStoreContent');
        const cartSection = document.getElementById('cart-section');

        if (buttonId === 'shoppingListButton') {
            inStoreContent.style.display = 'block';
            cartSection.style.display = 'none';
        } else {
            inStoreContent.style.display = 'none';
            cartSection.style.display = 'block';
        }

        const buttons = document.querySelectorAll('.toggle-buttons button');
        buttons.forEach(button => {
            if (button.id === buttonId) {
                button.classList.add('active');
            } else {
                button.classList.remove('active');
            }
        });
    }
</script> -->

<script>
document.addEventListener("DOMContentLoaded", function() {
    
    loadCartItems("cart-section");
    load_instore("inStoreContent");
    console.log('The DOM is fully loaded');
    // Append the checkout section
    const checkoutDiv = document.createElement('div');
    checkoutDiv.className = 'checkout';
    checkoutDiv.innerHTML = '<button>Checkout</button><p>Total: $' + (cart.length * 20) + '</p>'; // Assuming each product costs $20 for simplicity
    cartSection.appendChild(checkoutDiv);
});

document.addEventListener('DOMContentLoaded', (event) => {
    const searchInput = document.getElementById('searchInput');
    const cartDiv = document.getElementById('cart_div');
    consolelog(searchInput)
    function filterItems() {
        const filter = searchInput.value.toUpperCase();

        if (cartDiv) {
            const items = cartDiv.getElementsByClassName('flex-container');

            for (let i = 0; i < items.length; i++) {
                const item = items[i];
                const itemNameElement = item.querySelector('p');
                let itemName = "";

                if (itemNameElement) {
                    itemName = itemNameElement.innerText;
                }

                if (itemName.toUpperCase().indexOf(filter) > -1) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            }
        } else {
            console.error('cart_div not found!');
        }
    }

    if (searchInput) {
        searchInput.addEventListener('input', filterItems);
    } else {
        console.error('searchInput not found!');
    }
});


</script>

</body>
</html>

