@page
@model IndexModel
@{
    ViewData["Title"] = "HM page";
}
<link rel="stylesheet" href="css/delivery.css" asp-append-version="true" />

<html>
<head>
<style>
#hm_general_body {
  display: flex;
  /* justify-content: center; Center children horizontally */
  /* align-items: center; Center children vertically */
  min-height: 100vh; /* Make sure the body takes at least the full height of the viewport */
}

#hm_products {
  flex: 0 0 auto; /* Do not grow, do not shrink, be as wide as the content */
  width: 600px; /* Set a specific width */
  height: 750px; /* Set a specific height */
  border: 2px solid black; /* Add a border for better visibility */
  padding: 20px; /* Add some padding inside the box */
  text-align: center; /* Center text */
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
}


#hm_cart_container {
  margin-left: 40px; /* Space between products and cart */
  width: 600px; /* Set a specific width */
  height: 750px;
  /* overflow-y: auto; */
}

#hm_cart {
  border: 2px solid black; /* Border around the cart and total */
  text-align: center; /* Center text horizontally */
  padding: 10px; /* Some padding inside the cart and total */
  width: 600px; /* Set a specific width */
  height: 685px;
  overflow-y: auto;
}

#hm_total {
  border: 2px solid black; /* Border around the cart and total */
  text-align: center; /* Center text horizontally */
  padding: 10px; /* Some padding inside the cart and total */
}
</style>
</head>
<body>

<div id="hm_general_body">
  <div id="hm_products">
    <h2>Products</h2>
  </div>
  
  <div id="m_cart_container">
    <div id="hm_cart">
      <h3>Cart</h3>
  </div>

  <div id="hm_total">
    <h3>Total</h3>
  </div>
</div>
</div>

</body>

<script>
document.addEventListener("visibilitychange", function() {
    if (document.visibilityState === 'visible') {
        location.reload();
    }
});

document.addEventListener("DOMContentLoaded", function() {
    spec_cart(2,"hm_cart");;
});
</script>

</html>