@page
@model IndexModel
@{
    ViewData["Title"] = "Zara page";
}
<!-- <link rel="stylesheet" href="" asp-append-version="true" /> -->

<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
</style>
</head>
<body>

<div class="header-container">
    <img src="profile-user.png" alt="Profile Logo" class="profile-logo">
</div>
              
<h1>User Name</h1>

</body>
</html>